{
  "parser": "flow",
  "printWidth": 60,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": [".prettierrc", "**/*.json"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
